body {
  background-color: #080749;
  display: flex;
  justify-content: center;
}

#board {
  height: 700px;
  width: 700px;
  border: 2px #d9a3ff solid;
  background-image: url('assets/space\ background.png');
  position: relative;
  overflow: hidden;
}

#board > img, div {
  height: 50px;
  width: 50px;
  position: absolute;
}

#head {
  background: url(./assets/eyes-side.png), rgb(114, 200, 68);
  z-index: 2;
  border-radius: 15px;
}

.bodySegment {
  z-index: 1;
}

.ghost {
  opacity: 0.5;
}

.wormhole {
  background: black url(./assets/energy.gif) center/60px no-repeat;
}
